{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
	<ul class=entries>
	<li><h2>{{ entries[0].timestamp }}</h2>
	<table>
		<tr><td>Recieved</td>
			<td>{{ entries[0].recieved }}</td></tr>
		<tr><td>Latitude</td>
			<td>{{ entries[0].latitude }}&deg;</td></tr>
		<tr><td>Longitude</td>
			<td>{{ entries[0].longitude }}&deg;</td></tr>
		<tr><td>GPS Accuracy</td>
			<td>{{ entries[0].gpsaccuracy }}m</td></tr>
	</table>
	</ul>
	{% endif %}
	
	<div id="map"></div>
	<link rel="stylesheet" type="text/css" href="static/leaflet.css" />
	<script type="text/javascript" src="static/leaflet.js"></script>
	<script type="text/javascript" src="static/leafletembed.js"></script>
	
	<script>
		initmap();
		map.setView(new L.LatLng( {{entries[0].latitude}}, {{entries[0].longitude}} ),9);
		
		{% for entry in entries %}
			var marker = L.marker([ {{entry.latitude}}, {{entry.longitude}} ]).addTo(map);
			marker.bindPopup("{{entry.timestamp}} UTC");
		{% endfor %}
	</script>
{% endblock %}