{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for entry in entries %}
    <p>
	<li><h2>{{ entry.timestamp }}</h2>
	<table>
		<tr><td>Latitude</td>
			<td>{{ entry.latitude }}&deg;</td></tr>
		<tr><td>Longitude</td>
			<td>{{ entry.longitude }}&deg;</td></tr>
		<tr><td>GPS Accuracy</td>
			<td>{{ entry.gpsaccuracy }}m</td></tr>
		<tr><td>Battery</td>
			<td>{{ entry.battery }}%</td></tr>
		<tr><td>Temperature</td>
			<td>{{ entry.temperature}}&deg;C</td></tr>
		<tr><td>Last wake</td>
			<td>{{ entry.lastwake }}</td></tr>
	</table>
	</p>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}